{{#with show}}
<h1>{{name}}</h1>
<img src="{{imgPath}}">
<p>{{description}}</p>
<button type="submit"><a href="/city/{{_id}}/delete">Delete this memory</a></button>
<button type="submit"><a href="/city/{{_id}}/edit">Edit this memory</a></button>
{{/with}}