<div id="visited">
    <div class="container">
        <div class="row">
            {{#each trips }}
            <div class="col-md-6 col-sm-12 p-3">
                <div class="card ">
                    {{!-- <a href="/tracks/{{uri}}" class="card-link"></a> --}}
                    {{!-- <img class="card-img-top" src="{{images.0.url}}" alt="{{name}}"> --}}
                    <img class="card-img-top" src="{{img_default}}" alt="{{city.name}}">
                    <div class="card-body bg-secondary  m-0 p-0">
                        <h5 class="card-title text-white pt-2 text-center pl-1 pr-1">{{ city.name }}</h5>
                        <div class="card-infor w-100 pl-2 pr-2 text-center">
                            <p class="m-0 text-white">Visited from {{formatTime fromDate "DD-MM-YYYY" }} to {{formatTime toDate "DD-MM-YYYY" }}</p>
                            <p class="m-0 text-white" >Rated for this trip: {{rating}}/5</p>
                            <p class="m-0 text-white" >Visited {{city.name}} together with {{travellersNum}} traveller/s</p>
                            <p class="m-0 text-white" >The cost for the trip was {{cost}}€</p>
                            <p class="m-0 text-white" >Trip summary: {{summary}}</p>
                        </div>
                        <div class="">
                            <div class="row card-button d-flex">
                                <div class="col-6 button-item">
                                    <a href="/details/{{city._id}}" class="btn btn-primary bg-danger">View City</a>
                                </div>
                                <div class="col-6 button-item">
                                     <a href="/memories/{{memory._id}}" class="btn btn-primary bg-danger">View Memory</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
